<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="#{create.new.item}"></title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="bg-light" th:include="header.html">
</div>
<main>


    <div class="card-body">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
            <div class="card-header"><h3 class="text-center font-weight-light my-4"
                                         th:text="#{create.new.item}"></h3></div>
            <div class="card-body">
                <form role="form" method="post"
                      th:action="@{/create}" th:object="${laptop}">

                    <div class="form-group">
                        <label for="name" th:text="#{laptop.name}"></label>
                        <input type="text" class="form-control" id="name" name="name" th:placeholder="#{laptop.name}"/>
                    </div>


                    <div class="form-group">
                        <label for="processorFrequency" th:text="#{processorFrequency}"></label>
                        <input type="number" class="form-control" name="processorFrequency"
                               id="processorFrequency"
                               min="0" th:placeholder="#{processorFrequency}" required>
                        <div class="invalid-feedback" th:text="#{please.provide.valid.value}"></div>
                    </div>


                    <div class="form-group">
                        <label for="quantityOfKernel" th:text="#{quantityOfKernel}"></label>
                        <input type="number" class="form-control" id="quantityOfKernel"
                               name="quantityOfKernel"
                               min="0" th:placeholder="#{quantityOfKernel}" required>
                        <div class="invalid-feedback" th:text="#{please.provide.valid.value}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="computerDataStorage" th:text="#{computerDataStorage}"></label>
                        <input type="number" class="form-control" id="computerDataStorage"
                               name="computerDataStorage"
                               min="0" th:placeholder="#{computerDataStorage}" required>
                        <div class="invalid-feedback" th:text="#{please.provide.valid.value}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="computerMemory" th:text="#{computerMemory}"></label>
                        <input type="number" class="form-control" id="computerMemory" name="computerMemory"
                               min="0" th:placeholder="#{computerMemory}" required>
                        <div class="invalid-feedback" th:text="#{please.provide.valid.value}">

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="screen" th:text="#{screen}"></label>
                        <input type="number" class="form-control" id="screen" name="screen"
                               min="0" th:placeholder="#{screen}" required>
                        <div class="invalid-feedback" th:text="#{please.provide.valid.value}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="battery" th:text="#{battery}"></label>
                        <input type="number" class="form-control" id="battery" name="battery"
                               min="0" th:placeholder="#{battery}" required>
                        <div class="invalid-feedback" th:text="#{please.provide.valid.value}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="weight" th:text="#{weight}"></label>
                        <input type="number" class="form-control" name="weight" id="weight"
                               min="0" th:placeholder="#{weight}" required>
                        <div class="invalid-feedback" th:text="#{please.provide.valid.value}">
                        </div>
                    </div>


                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"
                         style="width: 100%;">
                        <button type="submit" class="btn btn-primary" th:text="#{update.item}">
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>

</main>
</body>
</html>