<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="#{register.page}"></title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
            crossorigin="anonymous"></script>
</head>
<header>
    <div class="bg-light" th:include="header.html">

    </div>
</header>
<body>

<div id="layoutAuthentication " class="shadow-sm p-3 mb-5 bg-white rounded">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4"
                                                         th:text="#{register.page}"></h3></div>
                            <div class="card-body">

                                <form th:object="${userForm}" method="post" th:action="@{/registration}">

                                    <!--                                        <c:if test="${param.dataInvalid == true}">-->
                                    <!--                                            <p style="color: orange"><fmt:message key="invalid.input"/></p>-->
                                    <!--                                        </c:if>-->
                                    <!--                                        <c:if test="${param.success == true}">-->
                                    <!--                                            <p style="color: green"><fmt:message key="reg.success"/></p>-->
                                    <!--                                        </c:if>-->
                                    <!--                                        <c:if test="${param.alreadyExist == true}">-->
                                    <!--                                            <p style="color: darkred"><fmt:message key="user.exist"/></p>-->
                                    <!--                                        </c:if>-->
                                    <div class="form-row">

                                        <div class="col-md-6">
                                            <div class="form-group"><label class="small mb-1" for="firstName"
                                                                           th:text="#{first.name}"></label><input
                                                    th:field="*{firstName}" class="form-control py-4" id="firstName"
                                                    name="firstName" type="text" th:placeholder="#{first.name}"/></div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group"><label class="small mb-1"
                                                                           for="lastName"
                                                                           th:text="#{last.name}"></label><input
                                                    class="form-control py-4" th:field="*{lastName}" id="lastName"
                                                    name="lastName" type="text" th:placeholder="#{last.name}"/></div>
                                        </div>

                                    </div>
                                    <div class="form-group"><label class="small mb-1" for="email"
                                                                   th:text="#{email}"></label><input
                                            class="form-control py-4" id="email" th:field="*{username}" name="email" type="email"
                                            aria-describedby="emailHelp" th:placeholder="#{email}"/></div>
                                    <div class="form-row">

                                        <div class="col-md-6">
                                            <div class="form-group"><label class="small mb-1" for="password"
                                                                           th:text="#{password}"></label><input
                                                    class="form-control py-4" id="password"  th:field="*{password}"name="password"
                                                    type="password" th:placeholder="#{password}"/></div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group"><label class="small mb-1" for="passwordConfirm"
                                                                           th:text="#{passwordConfirm}"></label><input
                                                    class="form-control py-4" id="passwordConfirm"  th:field="*{passwordConfirm}" name="passwordConfirm"
                                                    type="password" th:placeholder="#{passwordConfirm}"/></div>
                                        </div>

<!--                                        <div class="col-md-6">-->
<!--                                            <div class="form-group"><label class="small mb-1" for="phone"-->
<!--                                                                           th:text="#{phone}"></label><input-->
<!--                                                    class="form-control py-4" id="phone" name="phone" type="number"-->
<!--                                                    min="11" th:placeholder="#{phone}"/></div> </div>-->


                                    </div>
                                    <button type="submit" value="Submit" class="btn btn-primary" th:text="#{register}">

                                    </button>
                                </form>
                            </div>
                            <div class="card-footer text-center">
                                <div class="small"><a th:href="@{/login}" th:text="#{login.link}"></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div id="layoutAuthentication_footer">

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>
</body>
</html>